.main {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainTitle {
    color: #de699c;
    font-size: 3em;
    margin-bottom: 0.5em;
}